*{
    color:#777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.content{
    margin:0;
    margin-bottom: 200px;
}
.clearfix::after{
    content:"";
    clear: both;
    display: table;
}
body{
    margin:0;
    background: url('../images/light-grey-terrazzo.png');

}
a{
text-decoration:none;
}


#TBH{
    width: 960px;
    margin:0 auto;
    margin-bottom: 20px;
}
#TB{
    margin:auto 0;
    padding:20px;
    float:left;
}

#LB{
    height: 76px;
    float:right;
    overflow:auto;
}
header{
    overflow: auto;
    background:#fff;
    margin: 0 0 20px 0;
    border-bottom-style: solid;
    border-bottom-color: #ccc;
}
.c-l{
    position:relative;
    top:30px;
    text-align: center;
    padding: 10px;
    margin:auto 10px;
}
#main{
    border:1px;
    border-color: #ddd;
    border-style:solid;
    width:960px;
    background: #fff;
    margin: 20px auto;
    overflow:auto;
}
h1,h2,h3{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
h1,h3{
background-color: #4aaaa5;
color: white;
}
h2{
    color:#4aaaa5;
    margin:20px 0;
}
.h2h{
    border-bottom-style: solid;
    border-bottom-color: #ddd;
    margin-bottom: 20px;
    margin: 20px;
}
h3{
padding:10px;
}
.footer{
    width:100%;
    background: #4aaaa5;
    height: 100px;
    margin:auto 0 0 0;
    position:fixed;
    bottom: 0;
    text-align: center;
}
p{
    margin:20px;
}
#pp{
    float: left;
    margin: 0 20px 20px 20px;
}
.pH{
    float: left;
    width: 50%;
}
.text-width{
    width:300px;
    height: 200px;
    margin:20px;
}
/*pw = picture word*/
.pw{
    position: relative;
    bottom: 100px;
    text-align: center;
}
#copy{
    background: #666;
    color: white;
    margin-top:5px;
    height: 95px;
    margin-bottom: 0;
}
#right{
    color: white;
    margin-top: auto;
    
}
#links{
    margin: 29px 20px;
}
form{
    margin:0 20px;
    margin-bottom: 20px;

}
/*t-i= text input*/
.t-i{
    width:100%
}
.con{
    height: 300px;
}
.sub{
    color: #fff;
    background-color: #4aaaa5;
    height: 50px;
    width:90px;
    font-size: 20px;
}
.sub:hover{
    background-color:#FF5700;
}
.out{
    overflow:auto;
}
.out:hover{
    border-style: solid;
    border-color: #FF5700;
}
a:hover{
    color:#FF5700;
}
@media screen and (max-width: 980px){
#TBH{
    width: 100%;
}
#TB{
    margin-left: 54px;
}
#LB{
    margin-right:50px;
}
#main{
    width: 650px;
    margin-left: 50px;
    margin-top: 40px;
}
}
@media screen and (max-width: 768px){
#TB{
    margin-left: 20px;
}
#LB{
    margin-right:20px;
}
#main{
    margin:40px 20px;
    margin-left:20px;
    margin-right:20px;
}
}
@media screen and (max-width: 700px){
   
    #TB{
        margin:0;
        padding-top: 20px;
        padding-bottom:20px;
        clear: both;
        text-align: center;
        float: none;

    }
    #LB{
        margin:20px;
        text-align: center;
        clear: both;
        float: none;
        height: auto;
        overflow:none;
    }
    #links{
        margin:auto;
    }
    #pp{
        float:none;
        width:90%;
        max-width: 500px;
        
        margin-right: 5%;
        margin-left: 5%;
        align-content: center;
    }
    #main{
        width:92%;
        margin:10px auto;
    }
    #copy{
        position:relative;
    }
    #right{
        text-align:center;
        margin-top:auto;
    }
}